@mixin banner-title {
  @include header-sizes(h1);
  position: relative;
  background: $primary-color;
  color: $white;
  margin-bottom: 1.5rem;
  padding-left: map-get($grid-margin-gutters, small) / 2;
  line-height: 86px;
  font-weight: bold;
  width: 1000%;

  @include breakpoint(small only) {
    padding-right: 70px;
  }

  @include breakpoint(medium) {
    padding-left: map-get($grid-margin-gutters, medium) / 2;
    margin-bottom: 2rem;
  }
}

@mixin do-banner-title {
  .banner-title {
    @include banner-title;
  }
}