.gallery {

  @for $i from 1 through 9 {
    &.gallery-columns-#{$i} {
      @include grid-layout($i, '.gallery-item', $grid-column-gutter);
    }
  }

  .gallery-item {
    margin-bottom: 1rem;
  }
}

.kwaske-gallery-modal {
  .kwaske-gallery-modal-image-container {
    padding: 1.5em;
    text-align: center;
  }
}