// Page header
.front-hero {
  position: relative;

  @include breakpoint(small) {
    background-size: cover;
    background-position: bottom;
    padding: rem-calc(65%) 0;
    margin: 0 0 rem-calc(32);
    height: auto;
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background-size: cover;
    background-position: center;
    height: rem-calc(685);
    margin: 0 0 rem-calc(72);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, rgba(#000, 0.5) 0%, rgba(#000, 0) 100%);
    z-index: 5;
  }

  .marketing {
    @include xy-grid-container(55rem);
    @include xy-grid;
    position: relative;
    z-index: 10;
  }

  .tagline {
    text-shadow: 2px 2px 5px rgba(#000, 0.3);

    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(7);
      padding-top: 6rem;
    }
  }

  h1 {
    color: #fff;
    font-weight: 500;

    @include breakpoint(small) {
      font-size: 2.2rem;
    }

    @include breakpoint(medium) {
      font-size: 2.875rem;
    }
  }

  h4 {
    color: #fefefe;
    font-weight: 300;
    font-size: 1.3125rem;
  }

  .download {
    margin-top: rem-calc(20);
  }
}

// Intro
.intro {
  @include breakpoint(small) {
    margin-bottom: rem-calc(32);
  }

  @include breakpoint(medium) {
    margin-bottom: rem-calc(72);
  }

  .fp-intro {
    h1 {
      @include banner-title;
    }

    .intro-container {
      @include xy-grid;

      .entry-content {
        @include xy-cell(12);

        @include breakpoint(medium) {
          @include xy-cell(6);
        }
      }

      .intro-video {
        @include xy-cell(12);

        @include breakpoint(medium) {
          @include xy-cell(6);
        }

        iframe {
          width: 100% !important;
          height: 250px;

          @include breakpoint(medium) {
            height: 300px;
          }

          @include breakpoint(large) {
            height: 400px;
          }

          @include breakpoint(xlarge) {
            height: 500px;
          }
        }
      }
    }
  }
}

.services {
  @include breakpoint(small) {
    margin-bottom: rem-calc(32);
  }

  @include breakpoint(medium) {
    margin-bottom: rem-calc(72);
  }
}

// Request Quote
.request-quote {
  @include breakpoint(small) {
    margin-bottom: rem-calc(32);
  }

  @include breakpoint(medium) {
    margin-bottom: rem-calc(72);
  }

  .request-quote-container {
    @include xy-grid;

    .request-quote-content {
      @include xy-cell(12);

      @include breakpoint(medium) {
        @include xy-cell(6);
      }
    }

    .request-quote-form {
      @include xy-cell(12);

      @include breakpoint(medium) {
        @include xy-cell(6);
      }
    }
  }
}