.footer-container {
  margin: 0 auto;
  margin-top: rem-calc(60);
  background: $primary-color;
}

.footer {
  @include xy-grid-container(map-get($breakpoints, xxlarge));
  @include xy-grid;
  padding: rem-calc(30) 0;
  color: $white;

  section {
    @include xy-cell(12);
    margin-bottom: 1.5rem;

    @include breakpoint(medium) {
      @include xy-cell(auto);
      margin-bottom: 0;
    }

    &.footer-meta {
      @include xy-cell(12);
      flex-basis: 100%;
      color: lighten($primary-color, 35%);

      @include breakpoint(medium) {
        margin-top: 3rem;
        text-align: center;
        font-size: 0.9rem;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h6 {
    @include header-sizes(h4);
    font-weight: bold;
  }

  .menu {
    @include menu-direction(vertical);

    a {
      padding: 0.35em 0;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .footer-rbm-link {
    &:after {
      content: '';
      display: inline-block;
      width: 23px;
      height: 24px;
      background: url("../images/rbm-logo-footer.png");
      background-size: 23px 24px;
      margin-left: 0.5em;
      vertical-align: middle;
    }
  }
}
