// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(large);
  padding: 0;
  background: $white;

  @include breakpoint(large) {
    background: $topbar-background;
  }
}

.desktop-menu {
  @include show-for(large);
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }

  @include breakpoint(large) {
    height: 86px;
  }
}

.site-navigation .top-bar-left {
  @include show-for(large);
  display: flex;
  align-items: center;
  background: $white;

  @include breakpoint(large) {
    width: 40%;
    height: 100%;
  }

  @include breakpoint(large) {
    width: 30%;
  }
}

.site-navigation .top-bar-right {
  @include show-for(large);
  position: relative;
  background: $white;

  @include breakpoint(large) {
    width: 60%;
    height: 100%;
  }

  @include breakpoint(large) {
    width: 70%;
  }

  .top-bar-banner-end {
    @include banner-end-angled(
            $position: 'left',
            $inner-class-base: 'top-bar-banner-end-'
    );
  }

  > .menu {
    justify-content: flex-end;
    height: 100%;
  }
}

// Site title
.site-desktop-title {
  img {
    width: 300px;
    max-width: 100%;
  }
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;

    a {
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
    }
  }

  .menu .active > a {
    background-color: #ccc;
  }

}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {

  .menu .is-active > a {
    background-color: lighten($primary-color, 5%);
  }
}

.title-bar-left {
  position: relative;
  height: 55px;

  .menu-button {
    display: block;
    position: absolute;
    background: $primary-color;
    height: 100%;
    width: 20%;
    top: 0;
    right: 0;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 55px 25px;
      border-color: transparent transparent $primary-color transparent;
    }

    .menu-icon {
      position: relative;
      top: calc(50% - 15px);
      left: calc(50% - 18px);
      margin: 0;

      @include hamburger(
              $color: $white,
              $color-hover: darken($white, 10%),
              $width: 36px,
              $height: 30px,
              $weight: 6px,
              $bars: 3
      );
    }
  }

  .custom-logo-link {
    position: absolute;
    height: calc(100% - 10px);
    width: calc(80% - 10px);
    top: 5px;
    left: 5px;

    img {
      height: 100%;
      width: auto;
      max-width: 100%;
    }
  }
}

// Desktop menu

.top-bar {

  .top-bar-title a {
    font-size: 1rem;
    color: $white;
    padding-left: 1rem;
    line-height: 1.8;
  }

  .top-bar-right > .menu > li {

    &:not(.is-dropdown-submenu-parent) {
      > a {
        &:not(.button) {
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 15%;
            width: 70%;
            height: 4px;
            background: $white;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: visibility 300ms, transform 300ms, opacity 300ms;
          }

          &:hover {
            &:before {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }
        }
      }
    }

    > a {
      position: relative;
      color: $white;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1;

      @include breakpoint(large) {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .dropdown.menu .submenu {
    z-index: 1000;
    border: 0;

    li {
      display: block;
    }

    a {
      display: block;
      color: $white;
      background: $primary-color;

      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }
  .dropdown.menu .has-submenu.is-down-arrow > a::after {
    border: 0;
  }
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after {
    display: none;
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}
